<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.BlogDao">
    <resultMap id="ForeBlog" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="releaseDate" column="releaseDate"/>
    </resultMap>

    <resultMap id="BlogDetail" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="clickHit" column="clickHit"/>
        <result property="commentHit" column="commentHit"/>
        <result property="keyword" column="keyword"/>
        <result property="blogTypeId" column="blogTypeId"/>
    </resultMap>

    <resultMap id="Six" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
    </resultMap>

    <!-- 获取首页的博客 -->
    <select id="getForeBlog" resultMap="ForeBlog">
        select id, title, summary, releaseDate from blog order by releaseDate desc limit 8
    </select>

    <!-- 获取分页查询总数 -->
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from blog;
    </select>

    <!-- 根据分页的 start 和 end 查询数据 -->
    <select id="getBlogByPage" parameterType="Map" resultMap="ForeBlog">
        select id, title, summary, releaseDate from blog
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!-- 查询博客详情 -->
    <select id="getBlogById" parameterType="java.lang.Integer" resultMap="BlogDetail">
        select id, title, summary, releaseDate, clickHit, commentHit, content, keyword, blogTypeId
        from blog
        where id = #{id}
    </select>

    <!-- 刷新博客的访问量 -->
    <select id="updateClickHitById" parameterType="java.lang.Integer">
        update blog set clickHit = clickHit + 1 where id = #{id}
    </select>

    <!-- 获取六个最新博客 -->
    <select id="getSix" resultMap="Six">
        select id, title from blog order by releaseDate desc limit 6
    </select>

    <!-- 获取博客分类查询总数 -->
    <select id="selectCountByBlogType" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from blog where blogTypeId = #{blogTypeId}
    </select>

    <!-- 获取博客分类分页 -->
    <select id="getPageByBlogType" parameterType="Map" resultMap="ForeBlog">
        select id, title, summary, releaseDate from blog
        where blogTypeId = #{blogTypeId}
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!-- 添加博客 -->
    <insert id="insertBlog" parameterType="com.blog.pojo.Blog">
        insert into blog (title, summary, releaseDate, clickHit, commentHit, content, keyword, blogTypeId)
        values (#{title}, #{summary}, now(), 0, 0, #{content}, #{keyword}, #{blogTypeId})
    </insert>

    <!-- 删除博客 -->
    <delete id="deleteBlogById" parameterType="java.lang.Integer">
        delete from blog where id = #{id}
    </delete>

    <!-- 删除博客评论 -->
    <delete id="deleteCommentByBlogId" parameterType="java.lang.Integer">
        delete from comment where blog_id = #{id}
    </delete>

    <!-- 修改博客 -->
    <update id="updateBlogById" parameterType="com.blog.pojo.Blog">
        update blog
        set title = #{title},
        summary = #{summary},
        releaseDate = now(),
        content = #{content},
        keyword = #{keyword},
        blogTypeId = #{blogTypeId}
        where id  = #{id}
    </update>

    <!-- 根据标题查询博客 id -->
    <select id="getIdByTitle" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id from blog where title = #{title}
    </select>

    <!-- 获取所有博客 -->
    <select id="getAllBlog" resultMap="ForeBlog">
        select id, title, summary, releaseDate from blog
    </select>

    <!-- 实现关键字查找 -->
    <select id="searchBlog" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id from blog
        where title like concat(concat("%",#{str}),"%")
        or summary like concat(concat("%",#{str}),"%")
        or content like concat(concat("%",#{str}),"%")
        or keyword like concat(concat("%",#{str}),"%")
    </select>

    <select id="getTitleById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select title from blog where id = #{id}
    </select>
</mapper>